#
#	  Author :		Luke Brown
#	  License:  	Permission based - ask me first before using.
#	  Created: 		July 2014
#	  URL    :		https://github.com/LukeXF/tfg-website
#	  Contact:		me@luke.sx
#
	
RewriteEngine On
Options -Indexes
ErrorDocument 403 http://test.luke.sx/TFG/
ErrorDocument 404 http://test.luke.sx/TFG/

# don't touch /assets URIs
RewriteRule ^assets/ - [L,NC]

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ http://test.luke.sx/TFG/$1 [R=301,L]

# Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ http://test.luke.sx/TFG/$1 [R=301,L]

# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]
